<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div class="container">
  <div class="pull-left" style="width: 50%;margin-left: 25%;margin-right: 25"><div class="centered">center
The NWA World Middleweight Championship was a professional wrestling championship in the National Wrestling Alliance (NWA) between 1939 and 2010. For most of its existence, it was defended in the Mexican lucha libre promotion Consejo Mundial de Lucha Libre, who called it the Campeonato Mundial Peso Medio de NWA. The championship was created as the "World Middleweight Championship" in early 1939, by Salvador Lutteroth, owner of Empresa Mexicana de Lucha Libre. He awarded it to Gus Kallio, a five-time National Wrestling Association World Middleweight Champion, nicknamed "The King of the Middleweights" in the United States. When Octavio Gaona defeated Kallio on March 29, 1939, he won both middleweight championships. Since 1939 45 wrestlers have shared 84 NWA Middleweight Championship reigns. René Guajardo held the championship a record six times.
</div>
<div class="pull-right" style=""></div>

</div>


</body>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>
