<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheet/style.css">

</head>

  <body>
    <% include headerAfterLogin %>
<h1>Welcome  to home page<h1>
<div class="dropdown">

<div>
  <div id="results">

   </div>

</div>


</div>
<ul>


</ul>

     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">
  // $("#test").keyup(function(){
  //   console.log(".>>");
  //    $.ajax({
  //       method: "POST",
  //       url: "/testAjax",
  //       data: {"data": "data"},
  //     })
  //     .done(function( msg ) {
  //       console.log(">>>>", msg);

  //     });
  // })

  // $("#search").keyup(function(){
  //   let query = document.getElementById('search').value;
  // console.log("search",query);
  //   console.log(".>>");
  //    $.ajax({
  //       method: "POST",
  //       url: "/showFriendResult",
  //       data: {search : query}
  //     })
  //     .done(function( msg ) {
  //       console.log(">>>>", msg);
  //       //$("#results").append(msg);
  //         //var myObj = $.parseJSON(msg);
  //           for (var i=0; i<msg.length; i++) {
  //               console.log(msg[i]["username"]);
  //               //document.getElementById('results').innerHTML = msg[i]["username"];
  //               $("#results").append('<p><a href="/showFriendProfile?id='+msg[i]["username"]+'">'+msg[i]["username"]+'</a></p>');
  //           }
  //       //document.getElementById('results').innerHTML = msg.name

  //     });
  // })
</script>
  </body>
</html>

